.page {
	display: flex;
	flex-direction: column;
	gap: 12px;
	height: 100%;
}

.controls {
	display: flex;
	flex-direction: row;
	grid-row: 1;
	gap: 12px;
	margin-bottom: 12px;
}

.controls button {
	color: var(--ozi-graphic-primary-transparent);

	--text-color: var(--ozi-text-secondary-transparent);
}

.controls button:hover {
	color: var(--ozi-graphic-action-primary);

	--text-color: var(--ozi-graphic-action-primary);
}

.search {
	grid-row: 2;
}

.table {
	grid-row: 3;
}

.aggregationsHidden.aggregationsHidden {
	display: none;
}

.compareHeader {
	composes: ozi-heading-400 from global;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
